<footer>
  <div class="row">
    <div class="col">
      <p>
        2020 AirB&B<br />
        Contact: <a href="mailto:bisbister@myseneca.ca"> bisbister@myseneca.ca</a>
      </p>
    </div>
    <div class="col">
      <div class="socials">
        <a href="/instagram"><img src="/images/instagram.png" /></a>
        <a href="/facebook"> <img src="/images/facebook.png" /></a>
        <a href="/twitter"> <img src="/images/twitter.png" /></a>
      </div>
    </div>
  </div>
</footer>