<footer>
  <div class="row">
    <div class="col">
      <p>
        2020 AirB&B<br />
        Contact: <a href="mailto:bisbister@myseneca.ca"> bisbister@myseneca.ca</a>
      </p>
    </div>
    <div class="col">
      <div class="socials">
        <a href="https:www.instagram.com"><img src="/static/images/instagram.png" /></a>
        <a href="https:www.facebook.com"> <img src="/static/images/facebook.png" /></a>
        <a href="https:www.twitter.com"> <img src="/static/images/twitter.png" /></a>
      </div>
    </div>
  </div>
</footer>