<nav>
  {{#if email}}
  <p><a href="/logout">Logout</a> | <a href="/dashboard">Dashboard</a></p>
  {{else}}
  <p> <a href="/login">Log In</a> | <a href="/userRegistration">Sign-up</a> </p>
  {{/if}}
</nav>