<!DOCTYPE html>
<html>

{{> head}}

<body>
    {{> nav user}}
    {{> header}}
    <div class="conBookMsg">
        <div class="col">
            <h1>SEE YOU SOON!</h1>  <hr>
            <p style="color: black">
               Your reservation is confirmed. Thank you!<br> <br>
               <b>Booking Details</b>
            <table>
                <tr >
                    <td class="tabletitle">Confirmation Number: </td>
                    <td class="tabledata">{{booking._id}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Check-in:</td>
                    <td class="tabledata">{{booking.startDate}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Check-out:</td>
                    <td class="tabledata">{{booking.startDate}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Total:</td>
                    <td class="tabledata">{{booking.totalPrice}}</td>
                </tr>
            </table>
<hr>
            </p>
        </div>
    </div>

    {{> footer}}
</body>

</html>