<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AirB&B Dashboard</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  {{> nav}}
  {{> header}}
  <div class="details">
    <h2>User Dashboard</h2>
    <div class="promo">
      <p>0 reviews | 0 trips | 0 visits</p>
    </div>
    <div class="card">
      <h4>Notifications</h4>
      <p>No new messages</p>
    </div>
    <div class="card">
      <h4>Personal Information</h4>
      <ul>
        <li>Name</li>
        <li>Email</li>
      </ul>
    </div>
  </div>

  {{> footer}}
</body>

</html>