<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AirB&B Homepage</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  {{> nav user}}
  {{> header}}
{{> searchBar}}



  <div class="sectionBreak">

    <div class="promo">
      <table>
        <tr>
          <td class="promo-icon"><img src="images/confetti.png" class="promo-icon" /></td>
          <td>
            <p style="color:white">Join Today</p>
            <p>$0 join fee, reduced service fee</p>
          </td>
        </tr>
      </table>
    </div>

    <div class="info">
      <h2>Why We Are Better</h2>
      <hr />
      <p>
        Here at AirB&B we like to do things a little bit differently.<br><br>Instead of fancy experiences and extras, we
        like to focus on perfecting our core service - giving you a place that feels like home when you're not at home.
        Near or far, with us you can find the perfect place to live, work, and play. You can count on us for everything
        between breakfast & bed.<br><br>
      </p>
      <div class="row">
        <img class="infopic" src="images/info_pic6.jpg" />
        <iframe class="infopic" width="560" height="315" src="https://www.youtube.com/embed/L2q318dZKP0" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{> footer}}
</body>

</html>