<!DOCTYPE html>
<html>

{{> head}}

<body>
  {{> nav user}}
  {{> header}}

  <div class="signup">
    <h2><img src="/images/winner.png" class="promo-icon" />Login</h2>
    {{#if errmsg}}
    <label class="errMsg">{{errmsg}}</label>
    {{/if}}
    <form class="col" action="/login-for-process" method="POST">
      <label class="fixedLabel">Account Email</label>
      <input type="text" id="email" name="email" maxlength="75" value={{inputUser.email}}>
      <label class="fixedLabel">Password</label>
      <input type="password" id="pwd" name="pwd" maxlength="75" value={{inputUser.pwd}}>
      <button type="submit" class="btn btn-primary mb-2">Submit</button><br>
    </form>

    <a href="/userRegistration">New User? Sign-up</a><br>
  </div>
  
  {{> footer}}

</body>

</html>