<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>AirB&B Search</title>
        <link rel="stylesheet" href="/static/style.css"/>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    </head>
    <body>
        <nav class="menu">
            <a href="/login">Log In</a>   |   <a href="/userRegistration">Sign-up</a>
        </nav>
        <header class="header">
            <a href="/">
                <img alt="AirB&B" src="/static/images/logo.png" />
              </a>
        </header>

        <div class="sectionBreak">
            <div class="row searchResults">
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing1.jpg"/></a>
                    <p>
                        Single Room <br> This Place is Great, I Ain't Lime <br> $75 CAD/night
                    </p>
                </div>
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing2.jpg"/></a>
                    <p>
                        Single Room <br> Sweeter Dreams <br> $75 CAD/night
                    </p>
                </div>
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing3.jpg"/></a>
                    <p>
                        Entire House <br> Pancakes or Eggs? <br> $75 CAD/night
                    </p>
                </div>
            </div>
            <div class="row searchResults">
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing4.jpg"/></a>
                    <p>
                        Single Room <br> Are You Waking or Working? <br> $75 CAD/night
                    </p>
                </div>
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing5.jpg"/></a>
                    <p>
                        Entire House <br> You Don't Have to Per-suede Me to Stay Here <br> $250 CAD/night
                    </p>
                </div>
                <div class="listing">
                    <a href="/details"><img src="/static/images/listing6.jpg"/></a>
                    <p>
                        Single Room <br> Catch Me If You Can Catch Some Z's <br> $90 CAD/night
                    </p>
                </div>
            </div>
        </div>

        <footer class="row">
            <p>
                2020 AirB&B<br />
                Contact: <a href="mailto:bisbister@myseneca.ca"> bisbister@myseneca.ca</a>
                </a>
            </p>
            <a href="https:www.instagram.com"><img src="/static/images/instagram.png" /></a>
            <a href="https:www.facebook.com"> <img src="/static/images/facebook.png" /></a>
            <a href="https:www.twitter.com"> <img src="/static/images/twitter.png" /></a>
        </footer>
    </body>
</html>