<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AirB&B Register</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  {{> nav}}
  {{> header}}

  <div class="signup">
    <h2><img src="/static/images/winner.png" class="promo-icon" />New User</h2>
    {{#if errmsg}}
    <label class="errMsg">{{errmsg}}</label>
    {{/if}}
    <form class="col" action="/register-for-process" method="POST">
    <label class="fixedLabel">First Name</label>
      <input type="text" name="fname" value={{user.fname}}>
      <label class="fixedLabel">Last Name</label>
      <input type="text" name="lname" value={{user.lname}}>
      <div class="row">
        <label class="fixedLabel" for="userowner" style="width: 100%">User Type</label>
        <input type="radio" id="userowner" name="usertype" value="owner">
        <label for="userowner">Owner</label>
        <input type="radio" id="userrenter" name="usertype" value="renter">
        <label for="userrenter">Renter</label>
      </div>
      <label class="fixedLabel">Email Address</label>
      <input type="email" name="email" value={{user.email}}>
      <label class="fixedLabel">Create Password</label>
      <input type="password" name="pwd" placeholder="8-75 characters">
      <label class="fixedLabel">Confirm Password</label>
      <input type="password" name="checkpwd" placeholder="re-enter password">
      <button type="submit" class="btn btn-primary mb-2">Sign up</button><br>
    </form>
  </div>


  {{> footer}}
</body>

</html>