/* logo from freelogodesign.org */
/* images from pexels.com */
/* icons from icon8.com */
/*
colour family
green e0ece4
yellow beige f7f2e7
beige beige f6f6f6
light grey d8d3cd
dark grey 797a7e
*/

/* applies to all */
body {
  background-color: #f6f6f6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #797a7e;
}
body a{
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #797a7e;
}
body p{
  margin: 0;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #797a7e;
}

/* header section */
.header{
  background-color: #797a7e;
}
nav{
  background-color: #e0ece4;
  padding: 1em;
  text-align: end;
}

/* footer section */
footer{
  width:100%;
  padding:1em;
  position: relative;
  left: 0;
  bottom: 0;
}
footer .row .col{
  min-width: 300px;
}

/* home info */
.info{
  width: 100%;
  background-color: rgb(207,232,220);
  padding: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #797a7e;
}
img.infopic{
  width: auto;
  max-height: 315px;
  max-width: 100%;
  padding-bottom: 1em;
}
.info .row{
  justify-content: space-evenly;
}
/* home promo */
.promo{
  background-color: #f9c0c0;
  font-weight: bold;
  padding: 1em;
}
.promo table{
width:100%;
}
 .promo-icon{
height: 50px;
width: 50px;
margin-right: .5em;
}
/* search bar */
button.btn.btn-primary.mb-2{
  color: #797a7e;
  background-color: #f6f6f6;
  border: #797a7e;
  margin: .5rem;
}
.searchBar .row{
  max-width: 350px;
  margin:auto;
  padding-top:1.5em;
}
.col.label{
  padding:0;
  text-align: right;
  margin-right: 1em;
  min-width: 80px;
}
.col.option{
  padding:0;
  margin-right: 1em;
  min-width: 200px;
  max-width: 215px;
}
/* search results */
.listing{
display: flex;
flex-direction: column;
border: solid #797a7e;
padding: 1em;
margin:.5em;
min-width: 150px;
max-width:30%;
}
.listing p{
  font-size: .75rem;
}
.listing img{
  width:100%;
  height: auto;
}
.row.searchResults{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}
/* details page pictures*/
.previewpics{
  padding-bottom:2em;
  width:100%;
}
.previewpics .row{
  display: flex;
  flex-wrap: nowrap;
  width:auto;
  contain:content;
}
.previewpics img{
width:100%;
height:auto;
}
.previewpics .row .col{
  contain:content;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  } 
/* details page details */
.details{
  padding: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #797a7e;
}
.details .card{
  border-radius: 0;
  border:none;
  border-top: solid #e0ece4;
  padding: 0.5rem 0;
}
.card .row{
  width:100%;
}
ul{
  list-style-type:circle;
}
.promo .row{
  max-width: 400px;
align-items: flex-end;
margin-left: auto;
}
.conBookMsg{
  padding: 1em;
  margin: .5em;
  background-image: url("/static/images/info_pic5.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 320px;
}
.conBookMsg .col{
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  max-width: 370px;
  padding: 1em .75em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
/* login/register */
.signup{
  width:70%;
  margin:auto;
  max-width: 300px;
}
.signup h2{
  padding: .25em .5em;
  border-radius: 5px;
  background-color: #e0ece4;
}
form.col{
  text-align: center;
}
form.col input{
  margin:.5em;
}
form.col .row{
  justify-content: center;
}
p.errMsg{
  max-width: 175px;
  margin:auto;
  color: red;
  font-size: .75em;
  font-weight: bold;
}
@media only screen and (min-width: 600px){
.socials{
  float:right;
}
  img.infopic{
    border: solid white;
    padding: 1em;
    margin-top: 1em;
  }
  iframe.infopic{
    border: solid white;
    padding: 1em;
    margin-top: 1em;
  }
  .conBookMsg{
    min-height: 600px;
    }
}

@media only screen and (min-width: 700px){
  .searchBar .row{
    max-width: 700px;
  }
  .listing p{
    font-size: 1rem;
  }
  .promo .row{
    max-width: 700px;
  }

}

@media only screen and (min-width: 1200px){
  .promo{
  float: right;
  border-radius: 5px;
  margin:.5em;
  }
  .sectionBreak{
    border: 15px solid #f7f2e7;
    padding: 1.5em;
    margin: 1.5em;
  }
  .searchBar .row{
    max-width:1300px;
  }
  .col.label{
    max-width: 80px;
  }
  .col.option{
    min-width: 150px;
    max-width: 200px;
  }
  .row.searchResults{
    max-width: 1200px;
  }
  .conBookMsg{
    min-height: 700px;
    }
}

